.jumbotron {
  text-align: center;
  background-image: url("../img/dice.png");
  color: black;
  text-shadow: 1px 1px 1px white;
}

.btn {
  box-shadow: 2px 2px 2px grey;
}
 #score2 {
     width: 15px;
     height: 15px;
     border: 1px gray;
     margin: 0;
 }
#hold {
  /*text-align: center;*/
}

body {
  background-image: url("../img/Pig.jpeg");
  color: black;
  text-shadow: 1px 1px 1px white;
}
.winner1 {
  display: none;
}
.winner2 {
  display: none;
}
