.jumbotron {
  text-align: center;
  background-image: url("../img/dice.png");
  color: black;
  text-shadow: 1px 1px 1px lightgray;
}

.btn {
  box-shadow: 2px 2px 2px grey;
}
 #score2 {
     width: 15px;
     height: 15px;
     border: 1px gray;
     margin: 0;
 }


body {
  background-color: #ff8080;
}
.winner1 {
  display: none;
}
.winner2 {
  display: none;
}
#dice1 {
  font-size: 20px;
  background-color: #ff8080;
  box-shadow: 1px 1px 1px black;

}
#dice2{
  font-size: 20px;
  background-color: #ff8080;
  box-shadow: 1px 1px 1px black;
}
h2 {
  background-color: #ff8080;
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;

}
h3 {
  background-color: #ff8080;
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;

}
